*{
    margin: 0;
    padding: 0;
}

.top-header-area{
    background-color: #051922;
    position: absolute;
    top: 0;
    position: fixed;
}
.manage_profile_container{
    margin-top: 150px;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
}
.manage_profile_container section{
    width: auto;
    padding: 30px;
    background-color: rgb(213, 210, 210);
}


input[type='submit']{
    width: 90%;
    margin-top: 20px;
    margin-left: 30px;   
    text-align: center; 
    padding: 10px 0;
}

label{
    font-size: 1.2rem;
    padding-right: 5px; 
    
    margin-top: 20px;
    /* background-color: #051922;
    color: white; */
}

input[type='text']{
    border-radius: 10px;
    border-style: solid;
    padding: 0 5px;
    height: 2.5em;
    width: 250px;
    
    margin-left: 30px;
    margin-top: 20px;
}

.input-box{
    /* margin: 0.5em 0;       */
    display: flex;
    /* background-color: #051922; */
}
table{
    display: flex;
    align-items: center;
}
th{
    width: 50%;
}
tr{
    width: 100%;
}
td{
    width: 90%;
}

